Twisted==14.0.2
-e git+git@github.com:cwaldbieser/ldaptor.git@568c275863f2b605b764ded09452d5f39247a0a6#egg=ldaptor-dev
pyOpenSSL==0.13.1
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycrypto==2.6
pyparsing==2.0.3
service-identity==14.0.0
six==1.4.1
zope.interface==4.0.5
